.Row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5vh;
}
.BtnGroup {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}
.NextBtn {
  background-color: #871f42;
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  padding: 1.5vh 2vw;
  border-radius: 25px;
  width: 10vw;
}
.NextBtn:hover {
  background-color: #ffffff;
  border: 2px solid #871f42;
  color: #871f42;
}
.DeclineBtn {
  background-color: #ffffff;
  border: 2px solid #871f42;
  color: #871f42;
  outline: none;
  padding: 1.5vh 2vw;
  border-radius: 25px;
  width: 10vw;
}
.DeclineBtn:hover {
  background-color: #871f42;
  color: #ffffff;
}
.Checkbox {
  box-shadow: none !important;
}
.Checkbox:focus {
  border-color: rgba(0, 0, 0, 0.25);
}
.Checkbox:checked {
  border-color: #871f42;
  background-color: #871f42;
}
.Row span {
  background-color: transparent;
  border: none;
}
.P2{
    cursor: pointer;
    color:rgb(120, 120, 120);
}
.P2:hover{
    color: #000000;
    text-decoration: underline;
}